* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Pretendard-Black';
}

body {
  max-width: 412px;
  height: 100vh;
  margin: 0px auto;
  border: 1px solid rgb(226, 226, 226);
  background-color: #f9f6fe;
}
