@font-face {
  font-family: 'Pretendard-Black';
  src: url('./Pretendard-Black.woff') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./Pretendard-Bold.woff') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./Pretendard-Light.woff') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./Pretendard-ExtraLight.woff') format('opentype');
  font-style: normal;
}
